.button {
}

.disabled {
    background:blue;

}

.secondary {
    background:deeppink;
}

.default {
    background:darkgray;
}

.red {
    background:red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
